<section id="labels">
  <div class="page-header">
    <h1>Labels</h1>
  </div>
  <h3>With Controller</h3>
  <p>A minimal controller could look like:</p>
  <pre class="prettyprint linenums">App.LabelsController = Ember.ObjectController.extend
  label: 'Success'
  type: 'success'</pre>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Labels</th>
        <th>Static</th>
        <th>Dynamic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{view Bootstrap.Label content="Default"}}
        </td>
        <td>
          <code>&#123;{view Bootstrap.Label content="Default"}}</code>
        </td>
        <td>
          <code>&#123;{view Bootstrap.Label contentBinding="controller.label"}}</code>
        </td>
      </tr>
      <tr>
        <td>
          {{view Bootstrap.Label contentBinding="controller.label" typeBinding="controller.type"}}
        </td>
        <td>
          <code>&#123;{view Bootstrap.Label content="{{controller.label}}" type="{{controller.type}}"}}</code>
        </td>
        <td>
          <code>&#123;{view Bootstrap.Label contentBinding="controller.label" typeBinding="controller.type"}}</code>
        </td>
      </tr>
    </tbody>
  </table>

  <form>
    {{#each type in types}}
    <label class="radio inline">
      <input {{action 'select' type on="change"}} type="radio" name="type" value="{{type}}"> {{view Bootstrap.Label contentBinding="type" typeBinding="type"}}
    </label>
    {{/each}}
  </form>
</section>